@import '~antd/dist/antd.css';
$primary-color : #00bbd4;
$divider-color : #F5F5F5;
$divider-border-color : #dddddd;
$background-color : white;
$border-color: rgb(221, 221, 211);
$banner-size: 95px;

.wrapper {
  background-color: $background-color;
  max-width: 100%;
}

.footer-wrapper {
  padding-left: 0 ;
  padding-right: 0;
  padding-bottom: $banner-size;
}


.tab-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  height: 50px;
  z-index: 999;
}

.divider {
  border-top: 0.5px solid $divider-border-color;
  background-color: $divider-color;
  height: 5px;
}

.button {
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border :none;
  font-weight: bold;
  font-size: 13px;
  align-content: center;
  padding: 0;
  color: rgb(117, 117, 117);
  line-height: 13px;
  letter-spacing: -1px;

 &:focus{
   background-color: $primary-color;
   color: white;
   border-color: gray;
 }
}

.logo {
  width: 72px;
  display: block;
  margin: 10px auto;
  padding-top: 12px;
}

.footer-copyright {
  text-align: center;
  padding: 10px;
}

.footer-menus {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  & a{
    color: #212121;
  }
}

.footer-contact {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.footer-menus_item {
  text-align: center;
  flex-basis: 100%;
}

.btn-call {
  color: $primary-color;
  background-color: $background-color;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  text-align: center;
  border: 1px solid $primary-color;
  margin: 1px 0;
}
.btn-vertical-align {
  padding-top: inherit;
}

.content-img {
  max-width: 100%;
}

.banner {
  position: fixed;
  bottom: 0;
  left: 0;
}
.banner_kakao {
  position: fixed;
  bottom: 10.5vh;
  left: 5vw;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  padding: 2% 1%;
  border-radius: 30px;
  line-height: 16.1px;

  & .kakao {
    background: url(https://s.wink.co.kr/mobile/1.1.0/main/ico_kakao.png) top center no-repeat;
    background-size: 30px;
    padding-top: 100%;

    & p {
      color: white;
      text-align: center;
    }
  }
}


.sticky {
  background-color: $background-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.sticky_content {
  padding-top: 50px;
}

.detail_button_wrap {
  margin: 15px;
}

.detail_button {
    color: #f03c78;
    font-size: 1.3em;
    border: 1px solid #dadada;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    background-color: #fff;
}